# artifacts
__pycache__/
*.py[cod]
.pytest*
*.egg-info
*/build/*
*/dist/*


# misc
.coverage
.vscode
coverage.xml
.ruff_cache/
.mypy_cache/
.DS_Store


# Home Assistant configuration
config/*
!config/configuration.yaml
